<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-login_register">
    <title>Đổi Mật Khẩu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../static/users/login/images/icons/favicon.ico"
          th:href="@{/users/login/images/icons/favicon.ico}"/>
    <link href="../static/users/login/css/util.css"
          th:href="@{/users/login/css/util.css}" rel="stylesheet" />
    <link href="../static/users/login/css/main.css"
          th:href="@{/users/login/css/main.css}" rel="stylesheet" />
    <link href="../static/users/login/css/login_register.css"
          th:href="@{/users/login/css/login_register.css}" rel="stylesheet" />
    <link href="../static/users/css/styles.css"
          th:href="@{/users/css/styles.css}" rel="stylesheet" />
    <link href="../static/users/css/index.css"
          th:href="@{/users/css/index.css}" rel="stylesheet" />
    <style>
        .form-gap {
            padding-top: 70px;
        }

        .container{
            margin: 100px 0;
            margin-left: 60px;
        }

        .spanuser{
            font-size: 14px;
        }

        @media (max-width: 576px) {
            .container{
                margin-left: 0px;
            }

            .spanuser{
                font-size: 10px;
            }
        }

        @media (min-width: 576px) and (max-width: 768px){
            .spanuser{
                font-size: 10px;
            }
        }

        @media (max-width: 480px) {
            .container{
                margin-left: 0px;
            }

            .spanuser{
                font-size: 10px;
            }
        }

        @media (min-width: 480px) and (max-width: 576px){
            .spanuser{
                font-size: 10px;
            }
        }
    </style>
</head>
<body>
<header th:fragment="header-login_register" style="background: #474a4d; margin-left: 0px;">
    <a class="navbar-brand nav-bar_login_register" th:href="@{/index}">
        <div>
            <img th:src="@{/users/logoanhphc/Artboard3.png}" alt="..." style="width: 120px; height: 100px;">
        </div>
        <div>
            <span class="spanuser">MST 0401977829<br>CÔNG TY TNHH HỖ TRỢ VÀ ĐẦU TƯ TÀI CHÍNH ANH PHÚC</span>
        </div>
    </a>
</header>

<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Đổi Mật Khẩu</h2>
                        <p>Bạn có thể đặt lại mật khẩu của bạn tại đây.</p>
                        <div class="panel-body">
                            <form id="register-form" role="form" autocomplete="off" class="form" th:action="@{/profile/changePassword}" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width: 15%;"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                        <input id="passOld" name="passOld" placeholder="Mật khẩu cũ" class="form-control"  type="password" style="font-size: 13px;" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span style="color: red;" th:text="${errPass}"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width: 15%;"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                        <input id="pass" name="newPassword" placeholder="Mật khẩu mới" class="form-control"  type="password" style="font-size: 13px;" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span style="color: red;" th:text="${errChangPass}"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width: 15%;"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                        <input id="passwd" name="checkNewPassword" placeholder="Nhập lại mật khẩu" class="form-control"  type="password" style="font-size: 13px;" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span style="color: red;" th:text="${errNewPassword}"></span>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Đổi Mật Khẩu" type="submit" style="padding: 10px; margin-top: 20px;">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">

                                <a th:href="@{/profile/myInformation}" style="text-decoration: none;"><i class="glyphicon glyphicon-arrow-left"></i> Quay lại</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layoutRegisterLogin :: footer-login_register"></footer>
</body>
</html>