<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ảnh Chữ Ký</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="../static/users/login/images/icons/favicon.ico"
          th:href="@{/users/login/images/icons/favicon.ico}"/>
    <link href="../static/users/login/css/login_register.css"
          th:href="@{/users/login/css/login_register.css}" rel="stylesheet" />
    <link href="../static/users/css/styles.css"
          th:href="@{/users/css/styles.css}" rel="stylesheet" />
    <link href="../static/users/css/index.css"
          th:href="@{/users/css/index.css}" rel="stylesheet" />
    <link href="../static/users/css/formHousehold.css"
          th:href="@{/users/css/formHousehold.css}" rel="stylesheet" />
</head>
<body>
<header th:fragment="header-login_register" style="background: #474a4d; margin-left: 0px;">
    <a class="navbar-brand nav-bar_login_register" th:href="@{/index}">
        <div>
            <img th:src="@{/users/logoanhphc/Artboard3.png}" alt="..." style="width: 120px; height: 100px;">
        </div>
        <div>
            <span style="font-size: 14px;">MST 0401977829<br>CÔNG TY TNHH HỖ TRỢ VÀ ĐẦU TƯ TÀI CHÍNH ANH PHÚC</span>
        </div>
    </a>
</header>

<section class="get-in-touch" style="padding: 0; padding-top: 15px; margin-bottom: 100px;">
    <h2 class="title">Ảnh chữ ký</h2>
    <form class="contact-form row" th:action="@{/profile/saveHouseHold}" th:object="${houseHoldDTO}" method="post" enctype="multipart/form-data">
        <span style="text-align: center; font-size: 12px; color: #a0a9b2; margin-bottom: 30px;">Sổ hộ khẩu là bắt buộc*.<br>Hãy chọn ảnh rõ nét ko bị mờ</span>

        <div class="form-field col-lg-6">
            <input id="name" th:field="*{userName}" class="input-text js-input" type="text" disabled>
            <label class="label" for="name">Họ và Tên</label>
        </div>

        <div class="form-field col-lg-6 ">
            <input id="number" class="input-text js-input" type="number" th:field="*{cmndCccd}" disabled>
            <label class="label" for="number">Số CMND/CCCD</label>
        </div>
        <div class="text-center">
            <span style="color: red;" th:text="${errImgHouse}"></span>
        </div>
        <div class="form-field col-lg-12" style="display: flex; align-items: center; justify-content: space-evenly; border-bottom: 1px solid #b2b2b2;">
            <div style="text-align: center">Ấn vào để upload ảnh<br>chữ ký của bạn:</div>
            <div>
                <label class="label1" onchange="chooseFile(this)" accept="image/svg, image/png, image/jpg, image/webp, image/gif, image/jpeg">
                    <div th:if="${houseHoldDTO.imgHouseholdLeft == null}">
                        <img th:src="@{/users/img/myInformation/icon4.jpg}" alt="" id="image" width="400px" height="200px" />
                    </div>
                    <div th:if="${houseHoldDTO.imgHouseholdLeft != null}">
                        <img th:src="@{${houseHoldDTO.imgHouseholdLeft}}" alt="" id="imag" width="400px" height="200px" />
                    </div>
                    <div>
                        <input name="imgHouseholdLefts" id="imgHouseholdLefts" class="input-text js-input" type="file" onchange="chooseFile(this)" accept="image/svg, image/png, image/jpg, image/webp, image/gif, image/jpeg" value="Chọn ảnh" />
                    </div>
                </label>
            </div>
        </div>

        <div th:if="${houseHoldDTO.imgHouseholdLeft == null}" class="form-field col-lg-12" style="display: flex; justify-content: center">
            <input class="submit-btn" type="submit" value="Gửi đi">
        </div>

        <div style="display: flex; justify-content: center; margin-bottom: 25px;">
            <a class="a-comeBack" th:href="@{/profile/myInformation}" style="text-decoration: none; margin-top: 15px;"><i class="glyphicon glyphicon-arrow-left"></i> Quay lại</a>
        </div>
    </form>
</section>

<footer th:replace="layoutRegisterLogin :: footer-login_register"></footer>
</body>
<script src="../static/users/js/scripts.js"
        th:src="@{/users/js/img/choosePhoto.js}"></script>
</html>